@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* font-family: 'Hanken Grotesk', sans-serif; */
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsla(241, 100%, 89%, 0.3);
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 650px;
    border-radius: 15px;
}

.result {
    border-radius: 15px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.yr {
    font-size: 20px;
    color: hsl(241, 100%, 89%);
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: hsl(241, 100%, 89%);
    font-size: 13px;
}

.big {
    color: white;
    font-size: 55px;
}

.great {
    font-size: 27px;
    color: white;
    font-weight: 800;
}

p {
    margin: 0px 45px;
    color: hsl(241, 100%, 89%);
    margin-bottom: 1.2em;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sum {
    padding: 7px;
    margin: 0em 2em;
    font-size: 22px;
    font-weight: 600;
    color: hsl(224, 30%, 27%);
}

.reaction {
    padding: 7px;
    margin: 0em 2em;
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.memory {
    padding: 7px;
    margin: 0em 2em;
    background-color: hsla(39, 100%, 56%, .1);
    color: hsl(39, 100%, 56%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.verbal {
    padding: 7px;
    margin: 0em 2em;
    border-radius: 10px;
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.visual {
    padding: 7px;
    margin: 0em 2em;
    border-radius: 10px;
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    padding: 9px;
    margin: 0em 2em;
    border-radius: 25px;
    font-size: 15px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-weight: 500;

}

span {
    color: hsla(241, 100%, 89%, 1);
}

b {
    color: hsl(224, 30%, 27%);
}

.badge {
    display: flex;
}

img {
    padding: 0px 9px;
}

button:hover {
    background-color: hsla(256, 72%, 46%, 1);
    cursor: pointer;
}

@media only screen and (max-width:500px) {

    body {
        align-items: flex-start;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .result {
        width: 100%;
        height: 100%;
    }

    .summary {

        padding: 20px;
        margin: 1.2em;


    }

    .reaction {
        margin: 10px;
    }

    .memory {
        margin: 10px;

    }

    .verbal {
        margin: 10px;

    }

    .visual {
        margin: 10px;

    }
}
.attribution {
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    text-align: center;
}